#about {
  position: relative;
}

.majors {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  margin: 2.5rem 0;
}

.major {
  width: 100%;
  background-color: var(--color-primary-variant);
  padding: 2rem 1rem;
  color: var(--color-text);
  border-radius: 1rem;
  cursor: default;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
}

.major_icon {
  font-size: 4rem;
  margin: 1rem 0;
  color: var(--color-accent);
  transition: all 300ms ease;
}

.major_title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.major:hover .major_icon {
  transform: rotate(-15deg) scale(1.2);
}

.jobs {
  text-align: start;
}

.job {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 1rem;
}

.job_image {
  width: 50px;
  height: 50px;
  object-fit: contain;
}

.job_name {
  color: var(--color-primary);
}

.job_period {
  font-size: 0.8rem;
  color: var(--color-primary);
}

.about-divider {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.about-divider svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 100px;
}

.about-divider .shape-fill {
  fill: #1B1E26;
}

@media screen and (max-width: 768px) {
  .majors {
    flex-direction: column;
    align-items: center;
  }

  .major {
    max-width: 25rem;
  }

  .job {
    justify-content: center;
  }
}