#home {
  position: relative;
  background-color: var(--color-primary);
  background: var(--home-gradient);
  background-image: var(--home-bgc-svg);
  background-attachment: fixed;
  background-size: cover;
  color: var(--color-text);
  padding: 7rem 1rem 5rem 1rem;
  text-align: center;
  overflow: hidden;
}

.home_container {
  position: relative;
  display: flex;
  align-items: center;
  padding-top: 3rem;
}

.home_avatar {
  position: relative;
  width: 600px;
  height: 600px;
  object-fit: cover;
  background: var(--home-avartar-svg);
}

.home_title {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.home_title_strong {
  color: var(--color-accent);
}

.home_description {
  font-size: 1.3rem;
  line-height: 2rem;
}

.home_contact {
  display: inline-block;
  padding: 0.5rem 1rem;
  margin: 2rem;
  font-weight: bold;
  color: var(--color-primary);
  background-color: var(--color-accent);
  border-radius: 4px;
}

.home_contact:hover {
  background-color: transparent;
  color: var(--color-text);
  outline: 2px solid var(--color-accent);
}

@media screen and (max-width: 768px) {
  #home {
    padding-bottom: 3rem;
  }

  .home_container {
    flex-direction: column;
    gap: 2rem;
  }

  .home_title {
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
  }
}