.testimonials {
  margin: 3rem;
}

.testimonial {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-bottom: 2rem;
}

.testimonial:nth-child(even) .testimonial_image {
  order: 1;
}

.testimonial_image {
  width: 100px;
  height: 150px;
  border-radius: 100%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  object-fit: cover;
}

.testimonial_bubble {
  width: 100%;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  line-height: 2rem;
}

.testimonial_bubble_name {
  font-weight: bold;
  color: var(--color-accent);
  filter: brightness(70%);
}

@media screen and (max-width: 768px) {
  .testimonial {
    flex-direction: column;
  }

  .testimonial:nth-child(even) .testimonial_image {
    order: 0;
  }
}